<!DOCTYPE html>
<html>
<title>JournalPeek</title>
<body>
  <mat-sidenav-container>
    <mat-sidenav #sdnav mode="side" opened>
      <p><button mat-button (click)="sdnav.open()">Redraw (material bug)</button></p>
      <div>
	<h1>Journal Peek</h1>
      </div>
      <form [formGroup]="logForm">
	<fieldset>
	  <legend>Search:</legend>
	  <select id="fields" name="fields" [formControl]="field">
	    <option *ngFor="let f of fields" value="{{f}}">{{f}}</option>
	  </select><br><br>
	  <select id="values" name="values" formControlName="unique">
	    <option value=""></option>
	    <option *ngFor="let u of uniques" value="{{u}}">{{u}}</option>
	  </select><br><br>
	  <input type="text" id="regex" name="regex" placeholder="Regex pattern" formControlName="regex"><br><br>
	  <input type="checkbox" id="ignorecase" name="ignorecase" value="Ignore Case" checked formControlName="ignorecase"><label for="ignorecase"> Ignore case</label>
	</fieldset><br>
	<fieldset>
	  <legend>Navigation:</legend>
	  <select id="pagesize" name="pagesize" formControlName="pagesize">
	    <option value="5">5 Entries</option>
	    <option value="10">10 Entries</option>
	    <option value="50">50 Entries</option>
	    <option value="100">100 Entries</option>
	    <option value="150">150 Entries</option>
	    <option value="200">200 Entries</option>
	  </select><br><br>
	  <button type="button" (click)="prevcur = '';cursor='';getjournal(false);">|<-</button>
										       <button type="button" (click)="getjournal(true);" [disabled]="prevcur===''"><-</button>
																				     <button type="button" (click)="getjournal(false);" [disabled]="eof">-></button>
	</fieldset>
      </form>
    </mat-sidenav>
    <mat-sidenav-content>
      <p><button mat-button (click)="sdnav.toggle()">Toggle Search and Navigate</button></p>
      <div>
	<h1>Logs go here</h1>
	<p>logForm: {{ logForm.value | json }}</p>
	<p>cursor: {{cursor}}</p>
	<p>prevcur: {{prevcur}}</p>
	<p>eof: {{eof}}</p>
	<p>field: {{field.value}}</p>
	<div *ngFor="let l of lines">{{convert.toHtml(l)}}</div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
</html>
